html{
    scroll-behavior: smooth;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./Assets/Images/Diamanten.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.Container{
    padding: 0px 0px 0px 50px;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 100px 80px;
    flex: center;
    opacity: 0.9;
}

nav{
    background-color: white;
    margin-top: 0px;
    padding: 25px 25px 25px 25px;
    color: white;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    width: 100vw;
    list-style-type: none;
}
html,body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
    font-size:150%;
}
ul img{
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
}
li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 25px 20px ;
  min-width: 200px;
}

li a:hover{
  background-color:black;
}

.Gegevens{
    margin: 0;
    padding: 0;
    margin-top: 20%;
    background-color: #333;
    display: flex;
    padding: 0px;
    justify-content: center;
}

/*hieronder staat de slider*/
.section3{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    text-align: center;
    margin: 150px 10% 0px;
    flex: center;
    min-height: 400px;
}
.text{
  padding: 2%;
  margin: 0px 0px 0px 5%;
  margin-right: 10px;
}

.slideshow-container{
  padding: 0%;
  margin: 0px 0px 0px 7%;
  
}
/*hierboven staat de slider*/
.text2{
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.9);
    width:60%;
}
footer{
    background-color: white;
    padding: 0px 0px 0px 50px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 100px 80px;
    flex: center;
    opacity: 0.9;
    color: white;
}
}